<form (ngSubmit)="onSubmit()" [formGroup]="reactiveForm">
  <label>Image url:
    <input type="file" (change)="onFileSelected($event)" formControlName="image" accept="image/*" />
  </label>
  <label>name:
    <input type="text" value="name" formControlName="name" />
  </label>
  <label>amount:
    <input type="number" formControlName="amount" />
  </label>
  <label>Category:
    <select type="number" formControlName="category">
      <option value=""></option>
      <option value="one">one</option>
      <option value="two">two</option>
      <option value="three">three</option>
    </select>
  </label>
  <div *ngIf="imageUrl">
    <img [src]="imageUrl" alt="">
  </div>
  <button type="submit">Submit</button>
  <!-- <p>{{reactiveForm.value | json}}</p> -->
</form>
<div class="link">
  <a href="/">Back</a>
</div>
