:host {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .container {
    max-width: 700px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 12px;
    padding: 20px;
    h1, h2 {
      font-size: var(--large-font-size, 36px);
      line-height: 1.1;
      font-weight: bold;
      text-align: center;
      background: linear-gradient(to right, #f32170,  #f32170, #f32170,
                     #cf23cf, #cf23cf, #eedd44, #eedd44,  #0aba27, #0aba27,  #0aba27,    #333);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
    }
    hr {
      margin-block: 20px;
      width: 100%;
      height: 7px;
      border-radius: 9px;
      background: linear-gradient(to right, red, red 10%, purple 11%, purple 40%, orange 41%, orange 75%, green 76%, green 100%);

    }
    .all-stuffs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @media(min-width: 768px){
        grid-template-columns: repeat(3, 1fr);
      }
      gap: 12px;
      .image {
        height: 90px;
        @media(min-width: 400px){
          height: 140px;
        }
        background-image:var(--background-image);
        background-size: cover;
        aspect-ratio: 1.5;
        padding: 5px;

        border: 5px solid var(--amount-color, gray);
        border-radius: 7px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        &:hover {
          //background: linear-gradient(to right, var(--amount-color-0), var(--amount-color-10)), var(--background-image);
          scale: 1.03;
        }
        .amount {
          height: 15%;
          display: flex;
          gap: 2px;
          margin: 50px auto;
          .each {
            width: 25%;
            height: 100%;
            border-radius: 7px;
          }
        }
      }
    }
    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      a {
        text-decoration: none;
        color: rgb(10, 117, 224);
        &:visited {
          color: var(--my-color);
        }
      }
    }
  }
  progress {
    position: absolute;
  }
}
